# Python cache files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
ENV/
env/
.venv/

# Model files
*.h5
*.ckpt
*.pb
checkpoint/
saved_model/

# Streamlit files
.streamlit/

# OS-specific files
.DS_Store
Thumbs.db
